<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.griot_app.griot">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/griot_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startactivities.StartActivity"
            android:theme="@style/NoTitleBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startactivities.LoginActivity"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".mainactivities.MainOverviewActivity" />
        <activity
            android:name=".mainactivities.MainProfileOverviewActivity"
            android:parentActivityName=".mainactivities.MainOverviewActivity" />
        <activity
            android:name=".mainactivities.MainChooseFriendInputActivity"
            android:parentActivityName=".mainactivities.MainOverviewActivity" />
        <activity
            android:name=".mainactivities.MainQuestionmailActivity"
            android:parentActivityName=".mainactivities.MainOverviewActivity" />
        <activity
            android:name=".mainactivities.MainNotificationsActivity"
            android:parentActivityName=".mainactivities.MainOverviewActivity" />
        <activity
            android:name=".mainactivities.MainTopicCatalogActivity"
            android:parentActivityName=".mainactivities.MainOverviewActivity" />
        <activity android:name=".ComposeQuestionRequestInputActivity" />
        <activity
            android:name=".ChooseTopicInputActivity"
            android:parentActivityName=".mainactivities.MainChooseFriendInputActivity" />
        <activity
            android:name=".ChooseMediumInputActivity"
            android:parentActivityName=".ChooseTopicInputActivity" />
        <activity android:name=".ReviewInterviewInputActivity" />
        <activity android:name=".SaveInterviewInputActivity" />
        <activity android:name=".ProfileInputActivity" />
        <activity android:name=".GuestProfileInputActivity"></activity>
    </application>

</manifest>